[Unit]
Description=Draw splash screen into frame buffer
After=ti-omap3-sgx.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
# fixme, move that into theme, and make larger
ExecStart=/usr/bin/glesplash-fb /usr/share/glesplash/startup.png

[Install]
WantedBy=basic.target
